body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	height: 50px;
	width: 50px;
}
.postcard-header h1 {
	width: 500px;
	margin: 0;
}
.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 5px;
}

p {
	margin: 0;
}

input {
	border: 0px;
	border-bottom: solid 1px grey;
}

.postcard-footer {
	text-align: center;
}
button {
	background: darkgray;
	padding: 5px;
}

p,
h1,
button {
	font-family: cursive;
}
